%div.mobile-nav.is-open
  %ul
    %li %a{ href: "#about" } About
    %li %a{ href: "#youtube" } Youtube
    %li %a{ href: "#mentoring" } Mentoring
    %li %a{ href: "#articles" } Articles
    %li %a{ href: "#vine" } Vine
    %li %a{ href: "#design" } Design
    %li %a{ href: "#notes" } Notes
    %li %a{ href: "#contact" } Contact

%header
  %div.header-position
    %h1.logo Travis Neilson

    %nav.site-nav
      %ul
        %li %a{ href: "#about" } About
        %li %a{ href: "#youtube" } Youtube
        %li %a{ href: "#mentoring" } Mentoring
        %li %a{ href: "#articles" } Articles
        %li %a{ href: "#vine" } Vine
        %li %a{ href: "#design" } Design
        %li %a{ href: "#notes" } Notes
        %li %a{ href: "#contact" } Contact

    %a{ href: "mailto:travisneilson@gmail.com" }.email-link +email me

    %div.mobile-nav-toggle %span
