%section.design
  .flex.flex--center
    .col-50.flex.flex--center.dribbble{data-orig-color: "#ea4c89"}
      .col-1
        %p.home-lead ...Updating Dribbble...
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "orange"}
          %img{src: "assets/img/design-img/drib-1.jpg", alt: "1"}
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "#aeb3b0"}
          %img{src: "assets/img/design-img/drib-2.jpg", alt: "2"}
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "#38decc"}
          %img{src: "assets/img/design-img/drib-3.png", alt: "3"}
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "#d21d16"}
          %img{src: "assets/img/design-img/drib-4.jpg", alt: "4"}
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "#890cee"}
          %img{src: "assets/img/design-img/drib-5.jpg", alt: "5"}
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "#d6d599"}
          %img{src: "assets/img/design-img/drib-6.jpg", alt: "6"}
        .cf
        %a.home-cta{href: ""} See more on Dribbble

    .col-50.flex.flex--center.behance{data-orig-color: "#1769ff"}
      .col-1
        %p.home-lead ...and Behance...
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "#5aabd5"}
          %img{src: "assets/img/design-img/be-1.png", alt: "1"}
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "#d32022"}
          %img{src: "assets/img/design-img/be-2.jpg", alt: "2"}
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "#4c4c4c"}
          %img{src: "assets/img/design-img/be-3.jpg", alt: "3"}
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "#f59e82"}
          %img{src: "assets/img/design-img/be-4.jpg", alt: "4"}
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "#d57628"}
          %img{src: "assets/img/design-img/be-5.jpg", alt: "5"}
        %a.design-img-link{href: "https://dribbble.com/shots/854327-Midlife-Crisis", data-color: "#f6c599"}
          %img{src: "assets/img/design-img/be-6.png", alt: "6"}
        .cf
        %a.home-cta{href: ""} See more on Behance
